@model CreatePersonDTO

@{
    ViewData["Title"] = "Create";
}

<h1>Crear</h1>

<h4>Persona</h4>
<hr />
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Birthdate_temp" class="control-label"></label>
                <input asp-for="Birthdate_temp" class="form-control" type="date" />
                <span asp-validation-for="Birthdate_temp" class="text-danger"></span>
            </div>
        </div>
    </div>
    <br /
    <div class="row">
        <div class="col-6">
        <div class="form-group">
            <input type="submit" value="Crear" class="btn btn-primary" />
        </div>
        <div class="col-6">
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
        </div>
    </div>

</form>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
