@model SVLT.DTOs.PersonDTOs.GetIdResultPersonDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Detalles de Persona</h1>

<form asp-action="Details">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" disabled class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="form-group">
            <label asp-for="LastName" class="control-label"></label>
            <input asp-for="LastName" disabled class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Age" class="control-label"></label>
                <input asp-for="Age" disabled class="form-control" />
                <span asp-validation-for="Age" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Height" class="control-label"></label>
                <input asp-for="Height" disabled class="form-control" />
                <span asp-validation-for="Height" class="text-danger"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label asp-for="Birthdate" class="control-label"></label>
                <input asp-for="Birthdate.Year" disabled class="form-control" type="number" placeholder="Año" />
                <span asp-validation-for="Birthdate" class="text-danger"></span>
            </div>
        </div>
        <div class="col-4">
            <label asp-for="Birthdate" class="control-label">Mes</label>
            <input asp-for="Birthdate.Month" disabled class="form-control" type="number" placeholder="Mes" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Birthdate" class="control-label">Dia</label>
            <input asp-for="Birthdate.Day" disabled class="form-control" type="number" placeholder="Día" />
            <span asp-validation-for="Birthdate" class="text-danger"></span>
        </div>
    </div>
</form>
<br />
<div class="row-cols-6">
    <div class="form-group">
        <a asp-action="Index" class="btn btn-secondary">Ir a Personas</a>
    </div>
</div>

